@font-face {
  font-family: "Name";
  src: url("fonts/High\ Spirited.ttf");
}

body {
  background-image: url(images/background.png);
  z-index: -1;
  display: flex;
}

/* .topnav:active {
  color: black;
  text-decoration: none;
} */

.name {
  font-family: serif;
  font-style: italic;
  font-size: 45px;
  color: rgb(89, 19, 132);
  margin-left: 30px;
  margin-top: 23px;
  width: 300px;
}

.topnav {
  font-family: serif;
  font-size: 20px;
  text-align: right;
  height: 90px;
  width: 1000px;
  margin-top: 30px;
}

.topnav a {
  text-decoration: none;
  color: rgb(38, 20, 49);
  margin-right: 50px;

}

/* #contact { */

/* CSS */
#contact {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#contact:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

#contact:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  #contact {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

